<div class="modal-header">
  <h4 class="modal-title">Registrar automovil</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form class="form-floating" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <div class="form-floating mb-1">
        <input
          formControlName="marca"
          type="text"
          class="form-control"
          id="floatingInputMarca"
          placeholder="Marca"
          [class.is-invalid]="myForm.get('marca')?.touched && myForm.get('marca')?.invalid">
        <label for="floatingInputMarca">Marca</label>
        <div class="invalid-feedback" *ngIf="myForm.get('marca')?.touched && myForm.get('marca')?.invalid">
          <small *ngIf="myForm.get('marca')?.errors?.['required']">Esto no debe estar vacio</small>
          <small *ngIf="myForm.get('marca')?.errors?.['minlength']">La marca debe tener al menos 6 caracteres.</small>
          <small *ngIf="myForm.get('marca')?.errors?.['maxlength']">La marca no puede tener más de 10 caracteres.</small>
          <small *ngIf="myForm.get('marca')?.errors?.['pattern']">La marca solo puede contener caracteres alfanuméricos.</small>
        </div>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="placa"
          type="text"
          class="form-control"
          id="floatingInputplaca"
          placeholder="placa"
          [class.is-invalid]="myForm.get('placa')?.touched && myForm.get('placa')?.invalid">
        <label for="floatingInputMarca">Placa</label>
        <div class="invalid-feedback" *ngIf="myForm.get('placa')?.touched && myForm.get('placa')?.invalid">
          <small *ngIf="myForm.get('placa')?.errors?.['required']">Esto no debe estar vacio</small>
          <small *ngIf="myForm.get('placa')?.errors?.['minlength']">La placa debe tener al menos 3 caracteres.</small>
          <small *ngIf="myForm.get('placa')?.errors?.['maxlength']">La placa no puede tener más de 255 caracteres.</small>
          <small *ngIf="myForm.get('placa')?.errors?.['pattern']">La placa solo puede contener caracteres alfanuméricos.</small>
        </div>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="modelo"
          type="text"
          class="form-control"
          id="floatingInputmodelo"
          placeholder="placa"
          [class.is-invalid]="myForm.get('modelo')?.touched && myForm.get('modelo')?.invalid">
        <label for="floatingInputMarca">Modelo</label>
        <div class="invalid-feedback" *ngIf="myForm.get('modelo')?.touched && myForm.get('modelo')?.invalid">
          <small *ngIf="myForm.get('modelo')?.errors?.['required']">Esto no debe estar vacio</small>
          <small *ngIf="myForm.get('modelo')?.errors?.['min']">El modelo debe ser mayor a 1886.</small>
        </div>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="kilometros"
          type="number"
          class="form-control"
          id="floatingInputkilometraje"
          placeholder="placa"
          [class.is-invalid]="myForm.get('kilometros')?.touched && myForm.get('kilometros')?.invalid">
        <label for="floatingInputMarca">kilometros</label>
        <div class="invalid-feedback" *ngIf="myForm.get('kilometros')?.touched && myForm.get('kilometros')?.invalid">
          <small *ngIf="myForm.get('kilometros')?.errors?.['required']">Esto no debe estar vacio</small>
          <small *ngIf="myForm.get('kilometros')?.errors?.['min']">El kilometraje debe ser mayor a 0.</small>
          <small *ngIf="myForm.get('kilometros')?.errors?.['max']">El kilometraje debe ser menor a 999999999.</small>
        </div>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="color"
          type="text"
          class="form-control"
          id="floatingInputcolor"
          placeholder="color"
          [class.is-invalid]="myForm.get('color')?.touched && myForm.get('color')?.invalid">
        <label for="floatingInputMarca">Color</label>
        <div class="invalid-feedback" *ngIf="myForm.get('color')?.touched && myForm.get('color')?.invalid">
          <small *ngIf="myForm.get('color')?.errors?.['required']">Esto no debe estar vacio</small>
          <small *ngIf="myForm.get('color')?.errors?.['minlength']">El color debe tener al menos 3 caracteres.</small>
          <small *ngIf="myForm.get('color')?.errors?.['maxlength']">El color no puede tener más de 255 caracteres.</small>
          <small *ngIf="myForm.get('color')?.errors?.['pattern']">El color solo puede contener caracteres alfanuméricos.</small>
        </div>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="cilindraje"
          type="number"
          class="form-control"
          id="floatingInputCilindraje"
          placeholder="placa"
          [class.is-invalid]="myForm.get('cilindraje')?.touched && myForm.get('cilindraje')?.invalid">
        <label for="floatingInputMarca">Cilindraje</label>
        <div class="invalid-feedback" *ngIf="myForm.get('cilindraje')?.touched && myForm.get('cilindraje')?.invalid">
          <small *ngIf="myForm.get('cilindraje')?.errors?.['required']">Esto no debe estar vacio</small>
          <small *ngIf="myForm.get('cilindraje')?.errors?.['min']">El cilindraje debe ser mayor a 0.</small>
          <small *ngIf="myForm.get('cilindraje')?.errors?.['max']">El cilindraje debe ser menor a 999999999.</small>
        </div>
      </div>
      <div class="form-floating mb-1">
        <input
          formControlName="tipo_combustible"
          type="text"
          class="form-control"
          id="floatingInputTipoDeCombustible"
          placeholder="placa"
          [class.is-invalid]="myForm.get('tipo_combustible')?.touched && myForm.get('tipo_combustible')?.invalid">
        <label for="floatingInputMarca">Tipo de Combustible</label>
        <div class="invalid-feedback" *ngIf="myForm.get('tipo_combustible')?.touched && myForm.get('tipo_combustible')?.invalid">
          <small *ngIf="myForm.get('tipo_combustible')?.errors?.['required']">Esto no debe estar vacio</small>
          <small *ngIf="myForm.get('tipo_combustible')?.errors?.['minlength']">El tipo de combustible debe tener al menos 3 caracteres.</small>
          <small *ngIf="myForm.get('tipo_combustible')?.errors?.['maxlength']">El tipo de combustible no puede tener más de 255 caracteres.</small>
          <small *ngIf="myForm.get('tipo_combustible')?.errors?.['pattern']">El tipo de combustible solo puede contener caracteres alfanuméricos.</small>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column align-items-center mt-3">
      <button type="submit" class="btn btn-secondary" [disabled]="myForm.invalid" (click)="onSubmit()"><i class="bi bi-floppy"></i> Guardar</button>
    </div>
  </form>
</div>
