<div *ngIf="registroExitoso" class="alert alert-success" role="alert">
  Registro de automóvil exitoso
</div>
<div class="d-flex flex-column align-items-center mt-3">
  <img ngSrc="../../assets/smallLogo.png" alt="logo" class="img-fluid" height="160" width="320">
  <p class="mt-2">!!Bienvenido a Auto-perfecto!!</p>
  <p>Con esta plataforma podrás llevar los gastos de tu automóvil</p>
  <div class="d-flex justify-content-center mt-3">
    <button class="btn btn-secondary me-5" (click)="openVerticallyCentered(content)">
      <i class="bi bi-plus-circle"></i> Crear Automóvil
    </button>
    <button type="button" class="btn btn-secondary ms-5 disabled">
      <i class="bi bi-plus-circle"></i> Crear Mantenimiento
    </button>
  </div>
  <ng-template #content let-modal>
    <app-registrar-automovil (registroExitoso)="onRegistroExitoso($event)" [modal]="modal"></app-registrar-automovil>
  </ng-template>

</div>
